.item {
    width: 100%;
    font-size: 18pt;
    color: yellow;
    border-bottom: 1px solid rgb(99, 171, 238);
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.answer {
    font-size: 16pt;
    color: white;
    word-wrap: break-word;
}

.borderstype {
    border-radius: 10px;
    border: 1px solid rgb(92, 50, 241);
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media(max-width: 480px) {
    .container {
        width: 380px;
    }

    svg {
        height: 3500px;
    }
}